
.main-header {
    color: #16A085;
    font-family: AdobeInvisFont, Roboto-Black, Courier, monospace;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    font-weight: 600;
    margin: 32px 40px 35px 0;

}

img {
    background-color: #323232;
    width: 100%;
}

.heading {
    color: #373737;
    font-family: AdobeInvisFont, Roboto-Black, Courier, monospace;
    font-size: 22px;
    text-align: center;
    margin: 56px 309px 34px 229px;
}

.text {
    color: #373737;
    font-family: AdobeInvisFont, Roboto-Black, Courier, monospace;
    font-size: 16px;
    text-align: center;
    text-indent: 25px;
    margin: 34px 108px 40px 113px;
}

.button {
    background-color: #16A085;
    color: white;
    margin-bottom: 71px;
    border-radius: 3px;
    width: 193px;
    height: 52px;
}

main {
    background-color: #F5F6F7;
    text-align: center;
}

.footer {
    color: #373737;
    font-family: AdobeInvisFont, Roboto-Black, Courier, monospace;
    font-size: 16px;
    text-align: right;
    margin: 34px 90px 41px;
}
